#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --fail-missing

override_dh_auto_install:
	dh_auto_install
	rm -rf debian/*/usr/tests
	cp -p src/imports/Bacon2D/plugins.qmltypes debian/*/usr/lib/*/qt5/qml/Bacon2D.1.0/

override_dh_auto_test:
